<div class="container-fluid">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 mb-4">
        <h2 class="mb-3 text-white">Cadastrar algo nunca foi tão, rápido<br class="d-none d-md-inline" /> fácil e <span class="text-primary">eficiente!</span></h2>
        <p class="text-muted">
          Se certifique de preencher todos os campos corretamente, uma vez que for confirmado o produto já irá se encontrar na página de gerenciamento de estoque!
        </p>
        <a [routerLink]="['/ajuda']" class="btn btn-primary mt-3">
          Precisa de ajuda?
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-md-4">
        <div class=" p-4 shadow rounded">
          <h3 class="mb-4 text-primary text-center">Cadastre um produto</h3>
          <app-form-registrar-produto/>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <app-form-registrar-produto/> -->