<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 order-lg-2 mt-4">
      <img src="https://kitwind.io/assets/kometa/laptop.png" class="img-fluid" alt="" />
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="mt-5">

        <h1 class="mb-4 font-weight-bold text-4xl text-gray-900">
          Nosso sistema oferece a solução que você precisa!
        </h1>
        <p class="text-base text-gray-700">
          Em nosso sistema, oferecemos a capacidade de registrar e catalogar seus produtos de forma simplificada, proporcionando a você um controle rápido, fácil e eficiente! 
        </p>
      </div>
        <div class="d-flex mt-4">
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-primary btn-lg" style="margin-right: 20px;" [routerLink]="['/registrar/produtos']" >
              Cadastrar produto</button>
            <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/produtos']">
              Gerenciar estoque</button>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="container py-5">
  <div class="row mb-5 text-center">
    <div class="col-md-12">
      <h1 class="mb-4 font-weight-bold text-4xl">
        Confira o que nosso sistema pode fazer
      </h1>
      <p class="lead">
       Um sistema completo para gerenciar seu estoque de produtos!
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12 col-lg-4 mb-4">
      <div class="p-4 border rounded shadow-sm">
        <div class="d-flex justify-content-between mb-2">
          <h3 class="font-weight-bold">Cadastro</h3>
          <span class="badge text-light">1</span>
        </div>
        <p class="text-secondary">
          Adicione produtos ao sistema, informando o nome, valor e código de barras.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 mb-4">
      <div class="p-4 border rounded shadow-sm">
        <div class="d-flex justify-content-between mb-2">
          <h3 class="font-weight-bold">Gerenciamento</h3>
          <span class="badge text-light">2</span>
        </div>
        <p class="text-secondary">
          Verifique todos os produtos cadastrados em uma interface simples e intuitiva.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 mb-4">
      <div class="p-4 border rounded shadow-sm">
        <div class="d-flex justify-content-between mb-2">
          <h3 class="font-weight-bold">Editável</h3>
          <span class="badge text-light">3</span>
        </div>
        <p class="text-secondary">
          Tenha total controle de seus produtos com a opção de editar ou excluir qualquer registro.
        </p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-primary btn-lg" [routerLink]="['/ajuda']" >Precisa de ajuda?</a>
    </div>
  </div>
</div>
