
  <div class="row mb-4 mt-4">
    <div class="col">
      <p class="text-uppercase">
        Aqui estão os seus produtos!</p>
    
    </div>
    <div class="col-md-auto">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
      data-bs-target="#registrarModal" data-bs-whatever="@getbootstrap"  >Cadastrar produto</button>
  
    </div>
    <div class="col col-lg-1">
      <button type="button" (click)="alternarLista()" class="btn btn-info">Alternar</button>
    </div>
  </div>


    <app-card-product [produtos]="produtos" [modoExibir]="modoExibir" ></app-card-product>

   
    <div class="modal fade" (hidden.bs.modal)="atualizar()" id="registrarModal" tabindex="-1" aria-labelledby="registrarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="registrarModalLabel">Cadastrar produto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-form-registrar-produto/>
            </div>
          </div>
        </div>
      </div>

  