<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrarModal" data-bs-whatever="@getbootstrap">Cadastrar produto</button>

<div class="modal fade" id="registrarModal" tabindex="-1" aria-labelledby="registrarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registrarModalLabel">Cadastrar produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="produtoForm" (submit)="submit()">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label ">Nome</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="nome" />
          </div>
          <div class="mb-3">
            <label for="recipient-preco" class="col-form-label">Preço</label>
            <input type="text" class="form-control" id="recipient-preco" formControlName="preco"/>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Código de barras:</label>
            <input type="text" class="form-control" id="recipient-codigoBarras" formControlName="codigoBarras"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!produtoForm.valid">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
