<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let storage of storages">
    <div class="card mx-2">
      <img src="https://picsum.photos/100/80?random=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{storage.nome}}</h5>
        <p class="card-text">{{storage.descricao}}</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>