<div class="conteudo-superior">
    <app-header (mostrarFormularioRegistrar)="mostrarFormularioRegistrar($event)" (mostrarFormularioLogin)="mostrarFormularioLogin($event)"></app-header>
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

<div *ngIf="login" class="sobrepor">
  <app-logar-usuario (mostrarFormularioLogin)="mostrarFormularioLogin($event)"></app-logar-usuario>
</div>
<div *ngIf="registrar" class="sobrepor">
  <app-registrar-usuario (mostrarFormularioRegistrar)="mostrarFormularioRegistrar($event)"></app-registrar-usuario>
</div>