<button type="button" id="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#atualizeModal" data-bs-whatever="@getbootstrap">Atualizar</button>

<div class="modal fade" id="atualizeModal" tabindex="-1" aria-labelledby="atualizeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="atualizeModalLabel">Atualizar produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label ">Nome</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="produto.nome" name="name"/>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Preço</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="produto.preco" name="preco"/>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Codigo de barras</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="produto.codigoBarras" name="codigoBarras"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="submit()">Atualizar</button>
      </div>
    </div>
  </div>
</div>
