<div class="row row-cols-1 justify-content-center align-items-center g-4">
<div class="card mx-3" style="width: 18rem;" *ngFor="let produto of produtos">
    <img src="https://picsum.photos/180/140?random=" class="rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{produto.nome}}</h5>
      <p class="card-text">{{produto.descricao}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>