<ng-container *ngIf="modoAtual else listaProdutos">
<div class="row row-cols-1 justify-content-center align-items-center g-4" >
<div class="card mx-3" style="width: 18rem;" *ngFor="let produto of produtos">
    <div class="card-body" [id]="produto.id">
      <h5 class="card-title">{{produto.nome}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Preço: R${{produto.preco}}</li>
      <li class="list-group-item">Código: {{produto.codigoBarras}}</li>
    </ul>
    <div class="card-body d-flex justify-content-center align-items-center">
      <div class="mx-2">
        <button type="button" id="button" class="btn btn-amarelo-claro" data-bs-toggle="modal" (click)="getProduto(produto)" data-bs-target="#atualizeModal" >Editar</button>
    </div>
    <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#alterarEstoqueModal" (click)="obterEstoque(produto.id)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
      </svg>
      </button>
    </div>
  </div>
</div>
</ng-container>


<ng-template #listaProdutos>
<table class="table">
  <ul class="list-group" >
    <li class="list-group-item d-flex col-8 mx-auto">
      <div class="col-3 d-flex justify-content-center">Produto</div>
      <div class="col-3 d-flex justify-content-center">Preço</div>
      <div class="col-3 d-flex justify-content-center">Código de Barras</div>
      <div class="col-3 d-flex justify-content-center">Ações</div>
    </li>
    <li class="list-group-item d-flex col-8 mx-auto align-items-center" *ngFor="let produto of produtos">
      <div class="col-3 d-flex justify-content-center ">{{produto.nome}}</div>
      <div class="col-3 d-flex justify-content-center"> R$ {{produto.preco}}</div>
      <div class="col-3 d-flex justify-content-center">{{produto.codigoBarras}}</div>
      <div class="col-3 d-flex justify-content-center">
        
        <button class="btn btn-amarelo-claro mx-2" data-bs-toggle="modal" (click)="getProduto(produto)" data-bs-target="#atualizeModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
          Editar</button>
        <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#alterarEstoqueModal" (click)="obterEstoque(produto.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
          </svg>
          </button>
      </div>
    </li>
  </ul>
</table>
</ng-template>

<div class="modal fade" id="alterarEstoqueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja alterar o estoque desse produto?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Você possui {{quantidadeEstoque}} unidades em estoque, digite a quantidade para adicionar ou remover unidades desse produto! 
      </div>
      <form>
        <div class="mb-3 col-8 mx-auto">
          <label for="recipient-name" class="col-form-label">Quantidade</label>
          <input  type="text"
          class="form-control"
          id="recipient-name"
          placeholder="Digite a quantidade"
          [(ngModel)]="quantidade"
          name="quantidade"
          [ngModelOptions]="{ standalone: true }"
          maxlength="5"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
        </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="adicionarEstoque(idEstoque,quantidade,quantidadeEstoque)">Adicionar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="reduzirEstoque(idEstoque, quantidade)">Remover</button>
      </div>
    </form>
    </div>
  </div>
</div>




<div class="modal fade" id="atualizeModal" tabindex="-1" aria-labelledby="atualizeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="atualizeModalLabel">Atualizar produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="produtoForm" (submit)="submit()">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label ">Nome</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Digite o nome do produto" formControlName="nome"/>
            <div *ngIf="produtoForm.get('nome')?.hasError('required') && produtoForm.get('nome')?.touched">
              {{ errorMessages.required }}
            </div>
            <div *ngIf="produtoForm.get('nome')?.hasError('maxlength') && produtoForm.get('nome')?.touched">
              {{ errorMessages.maxLength }}
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Preço</label>
            <input type="text" currencyMask [options]="{align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control" id="recipient-name" formControlName="preco"/>
            <div *ngIf="produtoForm?.get('preco')?.hasError('required') && produtoForm.get('preco')?.touched">
              {{ errorMessages.required }}
            </div>
            <div *ngIf="produtoForm.get('preco')?.hasError('min') && produtoForm.get('preco')?.touched">
              {{ errorMessages.min }}
            </div>
            <div *ngIf="produtoForm.get('preco')?.hasError('pattern') && produtoForm.get('preco')?.touched">
              {{ errorMessages.pattern }}
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Codigo de barras</label>
            <input type="text" placeholder="Digite o código de barras do produto" class="form-control" id="recipient-name" formControlName="codigoBarras"/>
            <div *ngIf="produtoForm?.get('codigoBarras')?.hasError('required') && produtoForm.get('codigoBarras')?.touched">
              {{ errorMessages.required }}
            </div>
            <div *ngIf="produtoForm.get('codigoBarras')?.hasError('maxlength') && produtoForm.get('codigoBarras')?.touched">
              {{ errorMessages.maxLength }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!produtoForm.valid">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
